<%include layout/webheader.ejs%>
<link rel="stylesheet" href="/static/css/echonessy/index.css">
<div class="Content">
    <div class="Logo">
        <img src="/static/images/logo.png" alt="">
    </div>
    <p class="Title">Welcome to Echonessy</p>
</div>
<%include layout/nullfooter.ejs%>