<!DOCTYPE html>
<html>
<head>
    <title>Forbidden</title>
    <link rel="stylesheet" href="/static/css/error/index.css">
</head>
<body>
<div class="Single Content">
    <div class="Title">
        <div class="Single Top">Forbidden</div>
        <div class="Single Txt">当前访问没有权限，请确认是否已登录</div>
    </div>
    <div class="Single ImgBox">
        <img src="/static/images/error/403.png" alt="">
    </div>
</div>
</body>
</html>
