<!DOCTYPE html>
<html>
<head>
    <title>Not Found</title>
    <link rel="stylesheet" href="/static/css/error/index.css">
</head>
<body>
<div class="Single Content">
    <div class="Title">
        <div class="Single Top">Not Found</div>
        <div class="Single Txt">访问的 url 不存在</div>
    </div>
    <div class="Single ImgBox">
        <img src="/static/images/error/404.png" alt="">
    </div>
</div>
</body>
</html>
