<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Echonessy</title>
    <script src="/static/javascirpt/jquery.min.js"></script>
    <script src="/static/plugin/swiper/swiper.min.js"></script>
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/plugin/swiper/swiper.min.css">
    <link rel="stylesheet" href="/static/plugin/layui/css/layui.css">
    <script src="/static/plugin/layui/layui.js"></script>
    <script src="/static/javascirpt/common.js"></script>
    <script src="/static/plugin/bootstrap/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/static/plugin/bootstrap/css/bootstrap.css">
</head>
<body>
